@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
// VARIBALES 

// LIGHT MODE COLORS

$blue: hsl(212,100%,50%);
$lynchGray: hsl(217,20%,51%);
$kashmirBlue: hsl(217,35%,45%);
$ebonyClay: hsl(217,21%,21%);
$zirconWhite: hsl(227,100%,98%);
$pureWhite: hsl(0,0%,100%);

// DARK MODE COLORS

$pureWhite: hsl(0,0%,100%);
$blue: hsl(212,100%,50%);
$bigStoneBlue: hsl(220,40%,13%);
$cloudBurstBlue: hsl(222,41%,20%);

html{
    font-family: 'Space Mono', monospace;
    font-size: 16px;
}

// BODY CSS

body{
    background-color: $bigStoneBlue;
    color: $pureWhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// HEADER CSS

header{
    margin-top: 2.35rem;
    width: 20.43rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__tittle{
        display: inline;
        font-size: 1.625rem; 
        font-weight: bold;

    }
    .header__mode{
        font-size: .8125rem;
        font-weight: bold;
        letter-spacing: 2.5px;
    }
    .header--lightModeIcon{
        display: none;
    }
    .header--darkModeIcon{
        display: inline;
        float: right;
    }
}

// SEARCH BAR CSS

.searchBar{
    margin-top: 2rem;
    width: 20.43rem;
    height: 3.75rem;
    display: flex;
    background-color: $cloudBurstBlue;
    color: $pureWhite;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    .searchBar__img{
        width: 1.25rem;
        height: 1.25rem;
        margin-left: .4rem;
    }
    .searchBar__input{
        width: 11.5rem;
        border: none;
        font-size: .77rem;
        line-height: 1.562rem;
        background-color: inherit;
        color: $pureWhite;
    }
    ::placeholder{
        font-size: .77rem;
        line-height: 1.562rem;
        color: $pureWhite;
        opacity: 1;
    }
    .searchBar__searchButton{
        border: none;
        border-radius: 10px;
        background-color: $blue;
        color: $pureWhite;
        font-size: .875rem;
        font-weight: bold;
        width: 84px;
        height: 46px;
        
    }
}

.gitHubInfoCard{
    margin-top: 1rem;
    border-radius: .94rem;
    background-color: $cloudBurstBlue;
    width: 20.43rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    .gitHubInfoCard__header{
        padding-left: 1.5rem;
        display: flex;
        align-items: center;
        .gitHubInfoCard__header--profilePicture{
            width: 70px;
            height: 70px;
            background-color: $blue;
            border-radius: 9999px;
        }
    }
}